@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
}
.app{
    min-height: 100vh;
    color: wheat;
    background: linear-gradient(#0b004e, #1d152f, #002834);
}